/*----------------------- 
GENERAL
-------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    max-width: 800px;
}

h1{
    color: green;
    text-align: center;
}

ul{
    list-style: none;
    text-align: center;
}

img{
    margin: auto;
    display: block;
}

.loser {
    background-color: red;
    color: black;
}

.winner {
    background-color: green;
    color: white;
}

/*----------------------- 
DICE
-------------------------*/

.dice {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid rgb(58, 57, 57)
}

.dice-face{
    display: inline-block
}

/*----------------------- 
GARDEN AND BASKET
-------------------------*/

.garden, .baskets{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.garden div, .basket div{
    margin: 5px
}

/*----------------------- 
TREE
-------------------------*/

.tree, .basket{
    flex: 1;
    position: relative;
}


/*----------------------- 
FRUITS
-------------------------*/

.item1{
    position: absolute;
    top: 30%;
    left: 30%;
}

.item2{
    position: absolute;
    top: 60%;
    left: 30%;
}

.item3{
    position: absolute;
    top: 30%;
    left: 60%;
}

.item4{
    position: absolute;
    top: 60%;
    left: 60%;
}

/*----------------------- 
BASKET
-------------------------*/

/*----------------------- 
ROAD
-------------------------*/
.road{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100px;
    text-align: center;
}

.road-tile{
    border: 2px solid gray;
    flex: 1;
    margin: 5px;
}

.bird{
    background-image: url("img/owl.png");
    background-repeat: no-repeat;
    background-position: center;
}
